<div class="container my-4">
  <div class="row justify-content-center">
    <div class="col-md-6 bg-dark bg-opacity-10 p-3 rounded">
      <h1 class = "mb-3">Add a new list</h1>
      <%= simple_form_for(@list) do |f| %>
        <%= f.input :name %>
        <%= f.submit "Add list", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
