<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.radiofrance.fr/s3/cruiser-production/2023/05/60e989f6-99fb-4dbf-93c3-58320c4c094c/1200x680_sc_080-hl-jcmilhet-2038220.jpg);">
  <div class="container">
    <h1>Save any kind of movies</h1>
  </div>
</div>
