<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <img src="https://media.istockphoto.com/id/497857462/fr/photo/seau-de-pop-corn.jpg?s=612x612&w=0&k=20&c=kpWWd2mtPPg63yDPoNrzix_m9nxL7kM3iNHDc1JFY9k="/>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <%= link_to "My lists", root_path, class:"nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "New list", new_list_path, class:"nav-link" %>
          </li>
          <!--li class="nav-item"-->
          <!--/li-->
      </ul>
    </div>
  </div>
</div>
